<%= provide(:page_title, 'サイト詳細') %>

<main>
  <div class="float_front">
    <%= render 'layouts/header' %>
    <div class="help_container">
      <h1>使いかた</h1>
      <ul class="help_list">
        <li>使い方</li>
        <li>使い方</li>
        <li>使い方</li>
        <li>使い方</li>
        <li>使い方</li>
      </ul>
    </div>
  </div>
</main>
