<%= provide(:page_title, 'サイト詳細') %>

<main>
  <%= render 'layouts/header' %>
  <ul class="help_list">
    <li>Dummy</li>
    <li>Dummy</li>
    <li>Dummy</li>
    <li>Dummy</li>
    <li>Dummy</li>
  </ul>
</main>
