<% provide(:page_title, 'ヘルプ') %>

<main>
  <div class="float_front">
    <%= render 'layouts/header' %>
    <div class="help_container">
      <h1>ヘルプ</h1>
      <ul class="help_list">
        <li>助けます</li>
        <li>助けます</li>
        <li>助けます</li>
        <li>助けます</li>
        <li>助けます</li>
      </ul>
    </div>
  </div>
</main>
