<% provide(:page_title, 'ホーム') %>

<main>
  <div class="float_front">
    <%# headerの描画 %>
    <%= render 'layouts/header' %>

    <div class="search_form">
      <h1>Connect pianist to scores!<h1>
      <p>-あなたの弾きたい！が見つかる-</p>
      <div class="search_box">
        <input type="search" name="search" size="50" max-length="30">
        <input type="submit" value="検索">
      </div>
    </div>
  </div>
</main>
