<% provide(:page_title, "ユーザーリスト") %>

<div class="index_main">
  <div class="float_front">
    <%= render "layouts/header" %>
    <% @users.each do |user| %>
    <ul class="user_profile">
      <li>
          <%= gravatar_for user %>
          <%= link_to user.name, user, class: "user_name user_list" %>
          <%# user削除用リンクの作成、管理者だけに表示. ただし、管理者自身の削除リンクは表示しない %>
          <% if current_user.admin? && !current_user?(user) %>
          <%= link_to "削除", user, method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %>
          <% end %>
      </li>
    </ul>
    <% end %>
  </div>
</div>