<% provide(:page_title, "新規登録") %>
<%# formを送信するurlの指定 %>
<% provide(:form_url, signup_path) %>
<% provide(:method, :post) %>

<div class="signup_main">
  <div class="float_front">
    <%= render "layouts/header" %>
    <%= render 'shared/error_messages', { object: @user } %>
    <div class="signup_container">
      <h1 class="signup_title">新規登録</h1>
      <%= render 'shared/user_form' %>
    </div>
  </div>
</div>