<% provide(:page_title, "#{@user.name}のフォロワー") %>

<div class="index_main">
  <div class="float_front">
    <%= render 'layouts/header' %>
    <div class="index_title">
      <h1><%= @title %></h1>
    </div>

    <% @follows.each do |follow| %>
      <ul class="user_profile">
        <li>
            <%= gravatar_for follow %>
            <%= link_to follow.name, follow, class: "user_name user_list" %>
        </li>
      </ul>
    <% end %>

  </div>
</div>