@import "bootstrap-sprockets";
@import "bootstrap";

// mixin の定義
@mixin header_background($image_url, $height_value) {
  padding: 20px;
  width: 100%;
  height: $height_value;
  background-image: image-url($image_url);
  background-size: cover;
  position: relative;

  // 背景画像の上に黒を重ねる
  &::before {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
  }
}

// 変数定義
$original_hawaian_blue: rgb(91, 247, 223);
$original_parent_white: rgba($color: white, $alpha: 0.3);

// 共通部分

// body
body {
  margin: 0;
}

// navbar

.nav-item {
  padding: 15px;
  list-style: none;
  text-decoration: none;

  a {
    color: white;
    font-size: 1.5rem;
  }
}

// flash[:success], flash[:danger] のスタイル
.flash_wrapper {
  text-align: center;
}

.alert_success {
  background-color: $original_hawaian_blue;
  color: rgba($color: black, $alpha: 0.7);
}

.alert_danger {
  background-color: rgb(211, 125, 125);
  color: rgba($color: white, $alpha: 1.0);
}

// errors

.errors {
  background-color: $original_parent_white;

  ul {
    text-align: center;
    list-style: none;

    li {
      color: $original_hawaian_blue;
    }
  }
}

// home

main {
  @include header_background('header_back.jpg', 700px)
}

// コンテンツを浮かせる
.float_front {
  position: relative;
}


// search

.search_form {
  margin: 80px 0;
  text-align: center;

  h1 {
    font-weight: normal;
    font-size: 2rem;
    color: white;
  }

  p {
    font-size: 0.8rem;
    color: rgba($color: white, $alpha: 0.5);
  }
}

.search_box {
  padding: 10px;
  margin: 20px auto;
  width: 50%;
  background-color: $original_parent_white;

  input {
    margin: 0;
    vertical-align: middle;
  }
}

#search {
  color: black;
}

// help

.help_container {
  text-align: center;
}

.help_list {
  list-style: none;
}

// show

.show_main {
  @include header_background('show_back.jpg', 100%)
}

.user_profile {
  margin: 20px;
  background-color: $original_parent_white;
  display: flex;
  border-radius: 10px;
  list-style: none;

  .gravatar {
    height: 100px;
    padding: 20px;
    border-radius: 50%;
  }

  .user_name {
    color: white;
    text-decoration: none;
  }

  p {
    margin: 20px;
    color: white;
    font-size: 20px;
  }

  li {
    a {
      display: inline-block;
      color: white;
      margin-right: 10px;
      text-decoration: none;
    }
  }
}

.user_show {
  text-align: center;
}

// signup

.signup_main {
  @include header_background('show_back.jpg', 700px)
}

.signup_container {
  text-align: center;
}

.form_item {
  margin-bottom: 20px;

  label {
    color: white;
  }
}

.signup_title {
  color: white;
}

// index

.index_main {
  @include header_background('show_back.jpg', 100%)
}

.index_title {
  text-align: center;

  h1 {
    color: white;
  }
}

// pdf

.post_profile {
  margin: 20px;
  background-color: $original_parent_white;
  display: flex;
  border-radius: 10px;

  // サムネイルに関するスタイル
  .pdf_thumbnail {
    text-align: center;

    object {
      margin: 20px 20px 0 20px;
    }
    .pdf_link {
      display: block;
      text-decoration: none;
      color: rgb(252, 218, 218);
    }
  }
}

.pdf_info {
  margin: 20px;
  width: 100%;
}

.info_container {
  padding: 20px;
  background-color: rgb(241, 253, 252);
  border-radius: 10px;
  display: flex;

  .likes_info {
    padding: 10px 0;
    a {
      text-decoration: none;
    }
  }

  .unlikes_info {
    padding: 10px 0;
    a {
      text-decoration: none;
    }
  }

  .date_info {
    margin-left: 30px;

    p {
      margin-top: 10px;
      font-size: 0.05rem;
      color: rgb(143, 143, 143);
    }
  }

  .pdf_title {
    
    h1 {
      margin-top: 10px;
      font-size: 1.3rem;
      font-weight: normal;
      color: rgb(0, 0, 0);
    }

  }

}



.pdf_detail {
  > p {
    margin-top: 10px;
    width: 70px;
    padding: 3px;
    font-size: 1.5rem;
    background-color: rgb(53, 157, 199);
    color: white;
    border-radius: 3px;
  }

  .pdf_text_box {
    margin-top: 10px;
    width: 100%;
    background-color: rgb(248, 234, 221);
    border-radius: 5px;
  
    p {
      color: black;
    }
  }

}

// users_feed
.feed {
  width: 100%;
}

.feed_info {
  p {

    a {
        color: white;
        text-decoration: none;
      }
  }
}

// form

form {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;

  label {
    color: white;
  }
}

// like-btn

.like-btn {
  width: 25px;
  height: 30px;
  font-size: 15px;
  color: #808080; 
  margin-left: 20px;
}

.unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 15px;
  color: #e54747;
  margin-left: 20px;
}

// follow

.follow {
  margin-top: 10px;
  a {
    color: white;
    text-decoration: none;
  }
}

.unfollow {
  margin-top: 10px;
  a {
    color: white;
    text-decoration: none;
  }
}

.follow_info {
  text-align: center;
  margin-top: 10px;

  a {
    color: white;
    font-size: 0.5rem;
    margin: 0;
    text-decoration: none;
    display: block;

    &:hover {
      color: rgba($color: #aef3f8, $alpha: 0.7);
    }
  }
}