// mixin の定義
@mixin header_background($image_url, $height_value) {
  padding-top: 20px;
  width: 100%;
  height: $height_value;
  background-image: image-url($image_url);
  background-size: cover;
  position: relative;

  // 背景画像の上に黒を重ねる
  &::before {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
  }
}

// 変数定義
$original_hawaian_blue: rgb(91, 247, 223);
$original_parent_white: rgba($color: white, $alpha: 0.3);

// 共通部分

// body
body {
  margin: 0;
}

.menu_container {
  margin: 0 auto;
  padding: 20px;
  // border: 2px solid #fff;
  border-radius: 5px;
  width: 70%;
  height: 50px;
  background-color: rgb(231, 237, 238);
}

.main_menu {
  margin: 0;
  // padding: 20px;
  display: flex;
  justify-content: center;
  list-style: none;
  line-height: 50px;
}

.menu_link {
  margin-right: 20px;
  color: black;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: $original_hawaian_blue;
  }
}
// flash[:success] のスタイル
.flash_wrapper {
  text-align: center;
}

.alert_success {
  background-color: $original_hawaian_blue;
  color: rgba($color: black, $alpha: 0.7);
}

// home_main 

main {
  @include header_background('header_back.jpg', 700px)
}

// コンテンツを浮かせる
.float_front {
  position: relative;
}


// search

.search_form {
  margin: 80px 0;
  text-align: center;

  h1 {
    font-weight: normal;
    font-size: 2rem;
    color: white;
  }

  p {
    font-size: 0.8rem;
    color: rgba($color: white, $alpha: 0.5);
  }
}

.search_box {
  padding: 10px;
  margin: 20px auto;
  width: 50%;
  background-color: $original_parent_white;

  input {
    margin: 0;
    vertical-align: middle;
  }
}

// help

.help_container {
  text-align: center;
}

.help_list {
  list-style: none;
}

// show

.show_main {
  @include header_background('show_back.jpg', 400px)
}

.user_profile {
  margin: 20px;
  background-color: $original_parent_white;
  display: flex;
  border-radius: 10px;

  .gravatar {
    padding: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  h1 {
    color: white;
  }

  p {
    margin: 20px;
    color: white;
    font-size: 20px;
  }
}

// signup

.signup_main {
  @include header_background('show_back.jpg', 700px)
}

.signup_container {
  text-align: center;
}

.form_item {
  margin-bottom: 20px;

  label {
    color: white;
  }
}

.signup_title {
  color: white;
}

// errors

.errors {
  background-color: $original_parent_white;

  ul {
    text-align: center;
    list-style: none;

    li {
      color: $original_hawaian_blue;
    }
  }
}